/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #FFFFFF;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;


/*-- scss:rules --*/

// Targeting images specifically for dark mode
// .dark-mode .figure-img, // Assuming .dark-mode is the class used for toggling dark mode
// img { // This targets all img elements, adjust as necessary for your setup
//   background-color: white; // Ensures a white background in dark mode
// //   padding: 2px; // Optional: Adds a slight padding to create a "border" effect that might help with visibility
//   box-sizing: border-box; // Ensures padding doesn't affect the overall dimensions of images
// }

// If you're not using a specific class for dark mode, and it's instead based on system preferences,
// you might use a media query like this:
@media (prefers-color-scheme: dark) {
    figure img {
      background-color: white; // Ensures a white background in dark mode for figure images
    //   padding: 2px; // Optional: Adds a slight padding around the image
      box-sizing: border-box; // Ensures padding is included in the total width and height
    }
  }