/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #5d6d74;
$hover-color: lighten($link-color, 40%);
$sidebar-bg: #0086CA;

/*-- scss:rules --*/

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
}

.project {
  padding: 1em;
  border: 1pt dotted #5d6d74;
  margin-bottom: 15px;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: bold;
}

// div[data-code-copy="false"] button.code-copy-button {
//   display: none;
// }

@media (prefers-color-scheme: dark) {
  code {
      background-color: transparent !important;
      color: #0086CA !important; /* or another color that fits your dark theme */
  }
}

// @media (prefers-color-scheme: light) {
//   code {
//       color: #0086CA !important; /* or another color that fits your dark theme */
//   }
// }

.cell-output pre {
  max-height: 400px;
  overflow-y: auto;
}
      