/*-- scss:defaults --*/


/*-- scss:rules --*/

.exercise {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #798b93;
  background-color: #798b9350;
}
